@import "DownToneUI/_globals.css";

/* ============================================================================
 * Imports (remove to disable modifications)
 * ========================================================================= */

@import "DownToneUI/bookmarks.css";
@import "DownToneUI/menus.css";
@import "DownToneUI/navbar.css";
@import "DownToneUI/theme_scrollbar.css";
@import "DownToneUI/theme_UI.css";
@import "DownToneUI/sidebar.css";
@import "DownToneUI/compact_UI.css";

/* Your own customizations */
@import "DownToneUI/override_globals.css";
@import "DownToneUI/override_chrome.css";
