@import "DownToneUI/_globals.css";

/* ============================================================================
 * Imports (remove to disable modifications)
 * ========================================================================= */

@import "DownToneUI/theme_about.css";
@import "DownToneUI/theme_scrollbar.css";

/* Your own customizations */
@import "DownToneUI/override_globals.css";
@import "DownToneUI/override_content.css";
