@import "config.css";
@import "variables.css";
@import "icons/icons.css";
@import "urlbar/urlbar.css";
@import "navbar/navbar.css";
@import "popup/popup.css";
@import "interface/interface.css";
@import "userChrome-hover.css";

/* Global */

* {
  font-family: JetBrains Mono !important;
}

/* "about:" pages */

@-moz-document url("chrome://browser/content/places/places.xhtml") {
* {
	--organizer-border-color: #192330 !important;
	--organizer-separator-color: #192330 !important;
}
toolbar {
		appearance: none !important;
		background-color: #1e1d2d !important;
		border: 0px !important;
	}
	listbox,
	textbox {
		appearance: none !important;
		background-color: #1e1d2d !important;
		color: #ffffff !important;
		min-height: 20px !important;
		padding: 0 0 0 4px !important;
		border: 1px solid !important;
		border-color: #4f4f4f !important;
		border-radius: 0px !important;
	}

	#editBMPanel_rows>row>hbox>textbox,
	#editBMPanel_rows>row>textbox,
	#editBMPanel_tagsSelector {
		background: #1e1d2d !important;
		border: none !important;
	}


}

