/* ============================================================================
 * Shared: should be copied to Sidebery settings > Styles editor
 * ========================================================================= */

* {
  --dtui-theme-color-scheme: dark;
  --dtui-theme-main-color: 30, 34, 44;
  --dtui-theme-secondary-color: 35, 40, 52;
  --dtui-theme-accent-color: 88, 100, 129;
  --dtui-theme-text-color: 240, 240, 240;

  --dtui-theme-accent-low-alpha: 0.5;
  --dtui-theme-accent-mid-alpha: 0.75;
  --dtui-theme-accent-high-contrast: hsl(223, 45%, 71%);
  --dtui-theme-text-low-alpha: 0.5;
  --dtui-theme-text-mid-alpha: 0.75;

  --dtui-theme-separator-color: rgba(var(--dtui-theme-text-color), 0.1);
  --dtui-theme-border-color: rgba(var(--dtui-theme-text-color), 0);
  --dtui-theme-border-width: 2px;
  --dtui-theme-border-radius: 6px;

  --dtui-ui-sidebar-hover-debounce: 0ms;
  --dtui-ui-sidebar-animation-speed: 300ms;
}

/* ============================================================================
 * Others
 * ========================================================================= */

* {
  --dtui-theme-shadow-margin: 6px;
  --dtui-theme-shadow: 0px 0px var(--dtui-theme-shadow-margin) hsla(0, 0%, 0%, 0.4);

  --dtui-ui-sidebar-collapsed-width: 34px;
  --dtui-ui-sidebar-extended-width: 270px;
  --dtui-ui-bookmarks-hover-debounce: 200ms;
  --dtui-ui-bookmarks-animation-speed: 200ms;

  --dtui-ui-bookmarks-inner-height: 20px; /* NOTE: this is affected by font typeface/size */
}