/* ============================================================================
 * Shared: should be copied to Sidebery settings > Styles editor
 * ========================================================================= */

* {
  --dtui-theme-color-scheme: dark;
  --dtui-theme-main-color: 30, 34, 44;
  --dtui-theme-secondary-color: 35, 40, 52;
  --dtui-theme-accent-color: 58, 104, 175;
  --dtui-theme-text-color: 240, 240, 240;

  --dtui-theme-accent-low-alpha: 0.5;
  --dtui-theme-accent-mid-alpha: 0.75;
  --dtui-theme-accent-high-contrast: hsl(219, 100.0%, 77.5%);
  --dtui-theme-text-low-alpha: 0.5;
  --dtui-theme-text-mid-alpha: 0.75;

  --dtui-theme-separator-color: rgba(var(--dtui-theme-text-color), 0.1);
  --dtui-theme-border-color: rgba(var(--dtui-theme-text-color), 0);
  --dtui-theme-border-width: 2px;
  --dtui-theme-border-radius: 6px;

  --dtui-sidebar-hover-debounce: 0ms;
  --dtui-sidebar-animation-speed: 300ms;
}

/* ============================================================================
 * Others
 * ========================================================================= */

* {
  --dtui-theme-shadow-margin: 6px;
  --dtui-theme-shadow: 0px 0px var(--dtui-theme-shadow-margin) hsla(0, 0%, 0%, 0.4);

  --dtui-sidebar-collapsed-width: 34px;
  --dtui-sidebar-no-extend-width: 34px; /* Set to the same value as "--dtui-sidebar-collapsed-width" */
  --dtui-sidebar-extended-width: 270px;
  --dtui-bookmarks-hover-debounce: 200ms;
  --dtui-bookmarks-animation-speed: 200ms;
  --dtui-menu-animation-speed: 250ms;
  --dtui-window-animation-speed: 350ms;
  --dtui-urlbar-animation-speed: 300ms;

  --dtui-bookmarks-inner-height: 20px; /* NOTE: this is affected by font typeface/size */
}
