/* ============================================================================
 * Navigation bar tweaks
 * ========================================================================= */

/* Hide "Bookmark this page" button from URLbar */
#star-button-box { display: none !important; }

/* Private Mode indicator */
:root[privatebrowsingmode="temporary"] {
  .private-browsing-indicator-with-label { display: none; }
  #PanelUI-menu-button { list-style-image: url("chrome://global/skin/icons/indicator-private-browsing.svg") !important; }
  #urlbar-background { border: var(--dtui-theme-border-width) solid rgba(128, 0, 215, 0.7) !important; }
}

/* URLbar extend animation */
#urlbar[breakout-extend] {
  transform-origin: top;
  animation: urlbar-animation var(--dtui-urlbar-animation-speed) ease-out !important;
}
@keyframes urlbar-animation {
  0% { transform: scaleY(0.95); }
  100% { transform: scaleY(1); }
}
