/* ============================================================================
 * Theme the UI
 * NOTE: For better consistency, set built-in theme to "Dark"
 * ========================================================================= */

* {
  /* Common with userContent.css */
  color-scheme: var(--dtui-theme-color-scheme) !important;
  --text-color: rgb(var(--dtui-theme-text-color)) !important;
  --focus-outline-color: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha)) !important;
  --focus-outline-width: var(--dtui-theme-border-width) !important;
  --newtab-background-color: rgb(var(--dtui-theme-main-color)) !important;
  --newtab-background-color-secondary: rgb(var(--dtui-theme-secondary-color)) !important;
  --newtab-text-primary-color: rgb(var(--dtui-theme-text-color)) !important;
  --color-accent-primary: rgb(var(--dtui-theme-accent-color)) !important;
  --color-accent-primary-hover: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-mid-alpha)) !important;
  --color-accent-primary-active: rgb(var(--dtui-theme-accent-color)) !important;
  --button-background-color: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha)) !important;
  --button-background-color-hover: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-mid-alpha)) !important;
  --button-background-color-active: rgb(var(--dtui-theme-accent-color)) !important;
  --button-border-radius: var(--dtui-theme-border-radius) !important;
  --button-text-color-primary: rgb(var(--dtui-theme-text-color)) !important;
  --button-text-color: rgb(var(--dtui-theme-text-color)) !important;
  --border-color-deemphasized: var(--dtui-theme-border-color) !important;
  --border-color-interactive: rgba(var(--dtui-theme-text-color), var(--dtui-theme-text-mid-alpha)) !important;
  --background-color-canvas: rgb(var(--dtui-theme-text-color)) !important;
  --background-color-box: rgb(var(--dtui-theme-secondary-color)) !important;
  --toolbar-field-background-color: rgb(var(--dtui-theme-secondary-color)) !important;
  --toolbar-field-color: rgb(var(--dtui-theme-text-color)) !important;
  --toolbar-field-border-color: rgba(0, 0, 0, 0) !important;
  --toolbar-field-focus-background-color: rgb(var(--dtui-theme-secondary-color)) !important;
  --toolbar-field-focus-color: rgb(var(--dtui-theme-text-color)) !important;
  --toolbar-field-focus-border-color: var(--focus-outline-color) !important;
  --in-content-page-background: rgb(var(--dtui-theme-main-color)) !important;
  --in-content-page-color: rgb(var(--dtui-theme-text-color)) !important;
  --in-content-button-text-color-hover: rgb(var(--dtui-theme-text-color)) !important;
  --in-content-button-text-color-active: rgb(var(--dtui-theme-text-color)) !important;
  --in-content-button-background: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha)) !important;
  --in-content-button-background-hover: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-mid-alpha)) !important;
  --in-content-button-background-active: rgb(var(--dtui-theme-accent-color)) !important;
  --in-content-primary-button-background: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha)) !important;
  --in-content-primary-button-background-hover: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-mid-alpha)) !important;
  --in-content-primary-button-background-active: rgb(var(--dtui-theme-accent-color)) !important;
  --in-content-primary-button-text-color: rgb(var(--dtui-theme-text-color)) !important;
  --in-content-table-background: rgb(var(--dtui-theme-secondary-color)) !important;
  --in-content-box-border-color: var(--dtui-theme-border-color) !important;
  --in-content-item-hover: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha)) !important;
  --in-content-item-selected: rgb(var(--dtui-theme-accent-color)) !important;
  --link-color: var(--dtui-theme-accent-high-contrast) !important;
  --link-color-hover: var(--dtui-theme-accent-high-contrast) !important;
  --link-color-active: var(--dtui-theme-accent-high-contrast) !important;
  --link-color-visited: var(--dtui-theme-accent-high-contrast) !important;
  /*--border-width: var(--dtui-theme-border-width) !important;*/ /* This breaks #moz-toggle-button */
  --input-border-color: var(--dtui-theme-border-color) !important;
  --attention-dot-color: var(--dtui-theme-accent-high-contrast) !important;

  /* Unique to userChrome.css */
  --toolbar-color-scheme: var(--dtui-theme-color-scheme) !important;
  --tab-selected-color-scheme: var(--dtui-theme-color-scheme) !important;
  --lwt-accent-color: rgb(var(--dtui-theme-main-color)) !important;
  --lwt-accent-color-inactive: rgb(var(--dtui-theme-main-color)) !important;
  --lwt-toolbar-field-highlight: rgb(var(--dtui-theme-accent-color)) !important;
  --lwt-tab-line-color: rgb(var(--dtui-theme-accent-color)) !important;
  --lwt-text-color: rgb(var(--dtui-theme-text-color)) !important;
  --lwt-sidebar-background-color: rgb(var(--dtui-theme-main-color)) !important;
  --lwt-sidebar-text-color: rgb(var(--dtui-theme-text-color)) !important;
  --lwt-toolbarbutton-icon-fill-attention: var(--dtui-theme-accent-high-contrast) !important;
  --toolbox-non-lwt-bgcolor: rgb(var(--dtui-theme-main-color)) !important;
  --toolbox-non-lwt-bgcolor-inactive: rgb(var(--dtui-theme-main-color)) !important;
  --toolbar-non-lwt-bgcolor: rgb(var(--dtui-theme-main-color)) !important;
  --toolbox-non-lwt-textcolor: rgb(var(--dtui-theme-text-color)) !important;
  --toolbox-non-lwt-textcolor-inactive: rgb(var(--dtui-theme-text-color)) !important;
  --toolbar-bgcolor: rgb(var(--dtui-theme-main-color)) !important;
  --toolbar-color: rgb(var(--dtui-theme-text-color)) !important;
  --toolbarbutton-border-radius: var(--dtui-theme-border-radius) !important;
  --toolbarbutton-icon-fill: rgb(var(--dtui-theme-text-color)) !important;
  --toolbarbutton-hover-background: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-mid-alpha)) !important;
  --toolbarbutton-active-background: rgb(var(--dtui-theme-accent-color)) !important;
  --toolbarbutton-icon-fill-attention: var(--dtui-theme-accent-high-contrast) !important;
  --toolbarbutton-icon-fill-attention-text: rgb(var(--dtui-theme-text-color)) !important;
  --toolbarseparator-color: var(--dtui-theme-separator-color) !important;
  --tabpanel-background-color: rgb(var(--dtui-theme-main-color)) !important;
  --tab-loading-fill: rgb(var(--dtui-theme-accent-color)) !important;
  --tab-selected-outline-color: rgb(var(--dtui-theme-accent-color)) !important;
  --tab-hover-background-color: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha)) !important;
  --tab-selected-bgcolor: rgb(var(--dtui-theme-secondary-color)) !important;
  --tab-selected-textcolor: rgb(var(--dtui-theme-text-color)) !important;
  --tab-border-radius: var(--dtui-theme-border-radius) !important;
  --tabs-navbar-separator-color: rgba(0, 0, 0, 0) !important;
  --urlbar-box-bgcolor: rgb(var(--dtui-theme-secondary-color)) !important;
  --urlbarView-highlight-background: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha)) !important;
  --urlbarView-highlight-color: rgb(var(--dtui-theme-text-color)) !important;
  --urlbarView-action-color: rgba(var(--dtui-theme-text-color), var(--dtui-theme-text-mid-alpha)) !important;
  --urlbarView-hover-background: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha)) !important;
  --urlbarView-separator-color: rgba(0, 0, 0, 0) !important;
  --arrowpanel-background: rgb(var(--dtui-theme-secondary-color)) !important;
  --arrowpanel-color: rgb(var(--dtui-theme-text-color)) !important;
  --arrowpanel-border-color: var(--dtui-theme-border-color) !important;
  --arrowpanel-border-radius: var(--dtui-theme-border-radius) !important;
  --arrowpanel-menuitem-border-radius: var(--dtui-theme-border-radius) !important;
  --panel-background: rgb(var(--dtui-theme-secondary-color)) !important;
  --panel-color: rgb(var(--dtui-theme-text-color)) !important;
  --panel-border-color: var(--dtui-theme-border-color) !important;
  --panel-border-radius: var(--dtui-theme-border-radius) !important;
  --panel-separator-color: var(--dtui-theme-separator-color) !important;
  --panel-item-hover-bgcolor: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-mid-alpha)) !important;
  --panel-item-active-bgcolor: rgb(var(--dtui-theme-accent-color)) !important;
  --sidebar-background-color: rgb(var(--dtui-theme-main-color)) !important;
  --sidebar-box-background: rgb(var(--dtui-theme-secondary-color)) !important;
  --sidebar-text-color: rgb(var(--dtui-theme-text-color)) !important;
  --sidebar-border-color: rgb(var(--dtui-theme-main-color)) !important;
  --sidebar-box-border: var(--dtui-theme-border-width) solid var(--sidebar-box-border-color) !important;
  --sidebar-box-border-color: var(--dtui-theme-border-color) !important;
  --card-border-color: var(--dtui-theme-border-color) !important;
  --card-border-width: var(--dtui-theme-border-width) !important;
  --card-border-radius: var(--dtui-theme-border-radius) !important;
  --input-bgcolor: rgb(var(--dtui-theme-secondary-color)) !important;
  --input-color: rgb(var(--dtui-theme-text-color)) !important;
  --in-content-border-color: var(--dtui-theme-border-color) !important;
  --chrome-content-separator-color: rgb(var(--dtui-theme-main-color)) !important;
  --download-progress-fill-color: var(--dtui-theme-accent-high-contrast) !important;
}

/* Shadows */
slot:not(.nested), findbar, .menupopup-arrowscrollbox, .dialogBox, #customization-footer, .panel-arrowcontent,
#urlbar[breakout-extend], #statuspanel-label, #sidebar, #sidebar-main, #sidebar-header, #navigator-toolbox {
  --panel-shadow-margin: var(--dtui-theme-shadow-margin) !important;
  box-shadow: var(--dtui-theme-shadow) !important;
}
:root {
  --content-area-shadow: none !important;
  --tab-selected-shadow: none !important;
  --tab-shadow-max-size: 0px !important;
}
#urlbar-background { box-shadow: none !important; }
#navigator-toolbox { --browser-area-z-index-toolbox: 4 !important; }
#sidebar-main { z-index: 3 !important; }
#sidebar-box, #sidebar-header { z-index: 2 !important; }
findbar, #tabbrowser-tabbox { z-index: 1 !important; }

/* Borders */
#statuspanel-label, search-textbox#search-box, button#viewButton, tooltip {
  border: var(--dtui-theme-border-width) solid var(--dtui-theme-border-color) !important;
}
button, menuitem, input, #urlbar[breakout-extend], #statuspanel-label, tooltip, richlistitem.autocomplete-richlistitem,
search-textbox#search-box, button#viewButton {
  border-radius: var(--dtui-theme-border-radius) !important;
}
search-textbox#search-box:focus, .search-container input:focus {
  outline: var(--dtui-theme-border-width) solid rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha)) !important;
}
findbar, #navigator-toolbox, #urlbar-input, input[inputmode="search"], moz-card {
  border: none !important;
  border-radius: 0px !important;
}

/* Tab events */
.tabbrowser-tab:not([selected]) .tab-content {
  color: rgba(var(--dtui-theme-text-color), var(--dtui-theme-text-mid-alpha)) !important;
}
.tab-background[selected] {
  border: var(--dtui-theme-border-width) solid rgb(var(--dtui-theme-accent-color)) !important;
}
button[aria-label="Mute tab"], button[aria-label="Unmute tab"], button[aria-label="Play tab"] {
  .button-background {
    background-color: rgb(var(--dtui-theme-accent-color)) !important;
    border-radius: 9999px !important;
  }
}
.tabbrowser-tab .tab-icon-overlay {
  background-image: linear-gradient(rgb(var(--dtui-theme-accent-color))) !important;
  top: 0px !important;
  left: 0px !important;
}
.tab-audio-button {
  --button-size-icon-small: 16px !important;
  --button-min-height-small: 16px !important;
}
.tabbrowser-tab:not([pinned]) {
  .tab-icon-stack[soundplaying], .tab-icon-stack[muted], .tab-icon-stack[activemedia-blocked] {
    margin-right: 4px !important;
  }
}
#sidebar-main #tabbrowser-tabs:not([expanded]) {
  .tab-icon-stack[soundplaying], .tab-icon-stack[muted], .tab-icon-stack[activemedia-blocked] {
    .tab-icon-image { margin-left: 22px !important; }
  }
}
#sidebar-main #tabbrowser-tabs[expanded], #TabsToolbar {
  .tab-audio-button[soundplaying], .tab-audio-button[muted], .tab-audio-button[activemedia-blocked] {
    display: flex !important;
    order: -1 !important;
    margin-right: 6px !important;
  }
  .tabbrowser-tab .tab-icon-overlay { margin-left: -22px !important; }
}

/* Specific elements styling */
menuitem:hover, menuitem:where([_moz-menuactive]:not([disabled])), menu:where([_moz-menuactive]:not([disabled])) {
  background-color: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-mid-alpha)) !important;
  color: rgb(var(--dtui-theme-text-color)) !important;
}
.sidebar-panel, #password-notification, #report-broken-site-popup-mainView, fieldset #inputs,
#moz-card-details, .tabbrowser-tab:not(:hover):not([selected], [multiselected]) .tab-background {
  background-color: rgb(var(--dtui-theme-main-color)) !important;
}
search-textbox#search-box, #moz-toggle-button[aria-pressed="false"], #statuspanel-label,
tooltip, richlistitem.autocomplete-richlistitem {
  background-color: rgb(var(--dtui-theme-secondary-color)) !important;
}
.sidebar-panel, .urlbarView-row:hover .urlbarView-url {
  color: rgb(var(--dtui-theme-text-color)) !important;
}
button#viewButton {
  background-color: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha)) !important;
}
button#viewButton:hover, #notification-popup-box:hover, richlistitem.autocomplete-richlistitem:hover {
  background-color: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-mid-alpha)) !important;
}
button#viewButton[open], #notification-popup-box[open] {
  background-color: rgb(var(--dtui-theme-accent-color)) !important;
}
#stop-button:not([disabled]) {
  fill: var(--dtui-theme-accent-high-contrast) !important;
}
tooltip, #statuspanel-label, #downloads-button, #vertical-pinned-tabs-container-separator {
  color: var(--dtui-theme-accent-high-contrast) !important;
}
.autoscroller { opacity: 0 !important; }
#statuspanel { margin: 10px !important; }
search-textbox#search-box, button#viewButton, tooltip { appearance: none !important; }
